:root{
    --bgColor: #de6969;
    --borderColor: #d96363;
    --nullColor: #da5253;
    --corner: 12px;
}

html, body {
    text-align: center;
}

.text-body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16vh;
}

.text-body > p{
    padding: 0 20px;
    /* max-width: 80%; */
}

.quick-tabs-container,
.search-container{
    height: 50px;
    background-color: var(--borderColor);
}

.quick-tabs-container{
    width: min-content;
    margin: 0 auto;
    border-radius: var(--corner) var(--corner) 0 0;
    display: flex;
    flex-direction: row;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 20px;
    text-align: center;
    background-color: var(--nullColor);
}

.tab.selected{
    background-color: var(--borderColor);
}

.search-container{
    position: relative;
    display: flex;
    padding: 5px;
    width: 80vw;
    min-width: 300px;
    margin: 0 auto;
    border-radius: var(--corner);

    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.search-filter{
    /* flex: 1; */
    width: 25%;
    height: 100%;
    background-color: rgb(99, 92, 83);
}
.search-filter > select{
    border: none;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: var(--corner);
}
.search-box{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgb(99, 92, 83);
}

.search-box > input{
    border: none;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: var(--corner);
}