/* NAVBAR */
.navbar,
.navbar__mobile {
  display: flex;
  justify-content: space-between;
  font-family: "Audiowide", sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 998;
}

.navbar__mobile__open {
  display: none;
}

.nav-image {
  max-width: 100px;
  max-height: 40px;
  padding: 10px;
}

.logo-mark {
  max-width: 100px;
  max-height: 60px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sel,
.navbar a:hover {
  color: #de6969;
  text-shadow: 0 0 10px #9403e8, 0 0 20px #9403e8, 0 0 30px #7cdaff;
}

.navbar__mobile {
  display: none;
}

.side-panel {
  position: fixed;
  width: 100px;
  height: 100px;
  right: -100vw; /* Hide the side panel by default */
  width: 100vw; /* Set the width of the panel */
  height: 100vh;
  background: linear-gradient(130deg, #1a1a1a, #1a1a1a, #de6969);
  overflow-x: hidden;
  transition: right 0.5s;
  text-align: center;
  z-index: 999;
}

.side-panel > .nav-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.side-panel > .nav-content > a{
  padding: 5vh 0px;
}

.side-panel > .nav-content > a:active{
  background-color: #1a1a1a50;
}

/* Class to open the side panel */
.side-panel.open {
  display: block;
  right: 0; /* Set right to 0 to show the panel */
}

#closeBtn{
  color: white;
  font-weight: 900;
  /* background-color: wheat; */
  margin-top: 16px;
  text-align: center;
}

/* MOBILE */
@media screen and (max-width: 500px) {
  .navbar__mobile {
    display: flex;
  }
  .navbar {
    display: none;
  }
}
